.login-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0 0 auto;
  padding: 0 1em;

  .user-info {
    text-align: center;
  }

  // Accounts login components
  .accounts-box {
    .ui.segment {
      border: none;
      padding: 0;

      h2 {
        display: none;
      }

      button.button {
        margin-bottom: 0 !important;

        &.large {
          font-size: 0.92857143rem;
        }
      }
    }
  }
}
